$background-card: #F3F4F7;
$font-color:#262C40;
.main__container_card {
    background-color: $background-card;
    border-radius: 5px;
    padding: 24px;
    margin-bottom: 24px;
    font-size: 0.875rem;
    h4 {
        font-family: 'Montserrat-Black', sans-serif;
    }
}

.main__container_card_info {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 5px;
    margin-bottom: 24px;
}