$inactive-bg: #cfd8dc;
$active-bg: #0057b6;
$size: 1.5rem;
$toggleWidth: $size * 2.2;
$toggleBorderRadius: $size / 2;

.switch {
  appearance: none;
  width: $toggleWidth;
  height: $size;
  display: inline-block;
  border-radius: $toggleBorderRadius;
  cursor: pointer;
  background-color: $inactive-bg;
  background-image: radial-gradient(circle $size / 2.1, #fff 100%, #0000 0),
    radial-gradient(circle $size / 1.5, #0003 0%, #0000 100%);
  background-repeat: no-repeat;
  background-position: $size / -1.75 0;
  transition: background 0.2s ease-out;
}
.switch:checked {
  background-color: $active-bg;
  background-position: $size / 1.75 0;
}
