.main__container_form_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        width: 80%
    }
}
.main__container_form_optional {

    display: none;

    .main__container_form_cards {
        display: flex;
        border: 1px solid red
    }
    
    
}
.main__container_form_optional_visible {
    display: block;
}