$border-color: #d7dee9;
$font-color: #0057b6;

.addButton {
  background: none;
  border: 1px solid $border-color;
  color: $font-color;
  padding: 8px;
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 1rem;
  cursor: pointer;
  width: 320px;
  background: url("../../assets/cross.svg") no-repeat 5% center;
  margin-bottom: 32px;
}
.addButton:active {
  transform: translateY(5px);
}
.visible {
  display: none;
}
