$font-color: #262c40;

.main__container_form_label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 0.875rem;
  span {
    width: 20%;
    color: $font-color;
  }
}
.main__container_form_inputs {
  display: flex;
  width: 75%;
  gap: 8px;
}
