.menu__container {
    display: flex;
    justify-content: space-between;
    padding: 23px 35px;
    grid-column: 1 / 3;
    grid-row: 1 /2;
    .menu__container_actions {
        display: flex;
        align-items: center;
        gap: 2vw;
    }
    .menu__container_username {
        display: flex;
        align-items: center;
        gap: 0.5vw;
    }
    svg {
        cursor: pointer;
    }
}
