$field-border-color: #D7DEE9 ;

.dateInput {
    border: 1px solid $field-border-color;
    width: 35%;
    padding:10px;
    border-radius: 10px;
    background: url('../../assets/datapicker.svg') no-repeat 95% center #ffffff;

}
.dateInput::-webkit-calendar-picker-indicator {
    opacity: 0;
}