@font-face {
  font-family: "Montserrat";
  src: url("./assets/Fonts/Montserrat/static/Montserrat-Regular.woff2"),
       url("./assets/Fonts/Montserrat/static/Montserrat-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/Fonts/Montserrat/static/Montserrat-Bold.woff2"),
       url("./assets/Fonts/Montserrat/static/Montserrat-Bold.ttf");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}
#root {
  height: 100vh;
  font-family: 'Montserrat', sans-serif ;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}
* {
  box-sizing: border-box;
}
h2 {
  font-size: 1.125rem;
  font-family: 'Montserrat-Bold';
}