@font-face {
  font-family: "Montserrat";
  src: url("./assets/Fonts/Montserrat/static/Montserrat-Regular.woff2"),
       url("./assets/Fonts/Montserrat/static/Montserrat-Regular.ttf");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}
#root {
  height: 100vh;
  font-family: 'Montserrat', sans-serif ;
}
* {
  box-sizing: border-box;
}